

<title> Housing | MJK83 - JMX </title>

<h1> Student - Exchange - Housing - Africa </h1>

<h2> Prepared housing for exchange students </h2>

<p>Housing with fitted furniture, Beds, washing machines and dish Washers .</p>













